{% extends "layout.html" %}

{% block title %}
  Login
{% endblock %}

{% block body %}
  <header>
      <nav>
        <div class="title">Nik-Pass...</div>
        <a href="/register">Register</a>
      </nav>
    </header>
    <main>
      <div class="login-box">
        <div class="form">
          <form action="/login" method="post">
            <div class="title">
              <p>Login</p>
            </div>
            <div class="input">
              <input type="text" name="username" autocomplete="off" autofocus placeholder="Username">
            </div>
            <div class="input">
              <input type="password" name="password" placeholder="Password">
            </div>
            <div class="btn">
              <input type="submit" value="Login">
            </div>
          </form>
        </div>
      </div>
    </main>
{% endblock %}